*{
    box-sizing: border-box;
    margin: 0;
}

body {
   display: grid;
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   grid-template: "header" 1fr
                  "showcase" 8fr
                  "newsletter" 1fr
                  "boxes" 4fr
                  "footer" 1fr;    
}

header{
    grid-area: auto;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(39, 43, 53);
    border-bottom: 5px solid orangered;
}

header .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#showcase{
    grid-area: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/ex09/img/gigi-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#newsletter{
    grid-area: auto;
    background-color: rgb(39, 43, 53);
}

#boxes{
    grid-area: auto;
    background-color: white;
    display: grid;
}

footer{
    grid-area: auto;
    background-color: orangered;
    display: grid;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    font-size: 25px;
    position: relative;
    top: -5px;
}

#boxes .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#html-logo{
    display: grid;
    justify-content: center;
}

#css-logo{
    display: grid;
    justify-content: center;
}

#js-logo{
    display: grid;
    justify-content: center;
}
#js-logo img{
    position: relative;
    top: 10px;
}

p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 360px;
}

h3{
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 25px;
}

img{
    position: relative;
    right: -90px;
    top: 20px;
    height: 180px;
    width: 180px;
}

#newsletter .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container h1{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    top: 12px;
    left: 175px;
}

input{
    position: relative;
    width: 200px;
    height: 40px;
    top: 10px;
    left: 500px
}

.button_1{
    position: relative;
    background-color: orangered;
    color: white;
    width: 100px;
    height: 40px;
    top: 10px;
    left: 500px
}

#showcase .container{
    display: grid;
    justify-content: center;
}

#showcase .container h1{
    color: white;
    font-size: 70px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    position: relative;
    top:180px;
    left: -0px;
}

#showcase .container p{
    width: 1000px;
    position: relative;
    color: white;
    font-size: 1.2rem;
    top: 180px;
    left: 120px;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

ul {
    padding-right: 150px;
    position: relative;
    top: 20px;
    left: 30rem;
}

ul li {
    display: inline-block;
}

.current a{
      color: orangered;
}

ul a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
}

.highlight {
    color: orangered;
}